<div class="container-fluid">
<h2 class="display-4">User Registration</h2>
<form [formGroup]="registrationForm" (ngSubmit)=submitForm()>
  
  <div class="form-group">
    <input type="text" class="form-control" formControlName="name" placeholder="Name"
        [class.is-invalid]="name.invalid && name.touched">
    <small [class.d-none]="name.valid || name.untouched" 
        class="text-danger">Name is Required</small>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" formControlName="email" placeholder="Email"
        [class.is-invalid]="email.invalid && email.touched">
    <small [class.d-none]="email.valid || email.untouched"
        class="text-danger">Email is Required</small>
  </div>

  <div class="form-group">
    <input type="number" class="form-control" formControlName="phoneNo" placeholder="PhoneNo"
        [class.is-invalid]="phoneNo.invalid && phoneNo.touched">
    <small [class.d-none]="phoneNo.valid || phoneNo.untouched"
        class="text-danger">Phonenumber is Required</small>
  </div>
  
  <div class="form-group">
      <input type="text" class="form-control" formControlName="city" placeholder="City"
          [class.is-invalid]="city.invalid && city.touched">
      <small [class.d-none]="city.valid || city.untouched"
          class="text-danger">City is Required</small>
  </div> 

  <button type="submit" class="btn btn-primary" 
      [disabled]="!registrationForm.valid">Submit</button>
</form>
</div>